<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>StartUp - WeekEnd</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.min.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

<div class="container-fluid p-0">
    {#HEADER#}
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ path('home_page') }}">LOGO</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home_page') }}">Accueil</a>
                </li>
                {% if app.user and ('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                    </li>
                {% else %}

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Inscription</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </nav>

    {% block body %}


    {% endblock %}
</div>

<footer>
    <a href="{{ path('annonceur_subscribe') }}"></a>
</footer>

{% block javascripts %}
    <script type="application/javascript" src="{{ asset('assets/js/vue.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/js/vue-resource.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/js/lodash.min.js') }}"></script>
{% endblock %}
</body>
</html>
