<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>StartUp - WeekEnd</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.min.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}


{% endblock %}
{% block javascripts %}
    <script type="application/javascript" src="{{ asset('assets/js/vue.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/js/vue-resource.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/js/lodash.min.js') }}"></script>
{% endblock %}
</body>
</html>
