{% trans_default_domain 'FOSUserBundle' %}

<h1 class="text-center">Inscription</h1>


<div class="row" style="padding-bottom: 30px;">
    <div class="col-12 col-md-8 offset-md-2">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

        <div class="form-group">
            {{ form_label(form.username, "Nom: ") }}
            {{ form_widget(form.username, {'attr' : {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.email, "Email: ") }}
            {{ form_widget(form.email, {'attr' : {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.plainPassword.first, "Mot de passe: ") }}
            {{ form_widget(form.plainPassword.first, {'attr' : {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.plainPassword.second, "Répéter le mot de passe: ") }}
            {{ form_widget(form.plainPassword.second, {'attr' : {'class': 'form-control'}}) }}
        </div>

        {% set queryParameters = app.request.query.all %}

        {% if queryParameters.annonceur is defined %}
            <div class="form-group">
                {{ form_label(form.societe, "Société: ") }}
                {{ form_widget(form.societe, {'attr' : {'class': 'form-control'}}) }}
            </div>
            <div class="form-group d-none">
                {{ form_label(form.annoncer, "Annoceur ?: ") }}
                {{ form_widget(form.annoncer, {'attr' : {'class': 'form-control', 'placeholder':'LeBonCoin', 'checked': 'checked'}}) }}
            </div>
        {% else %}
            <div class="form-group d-none">
                {{ form_label(form.annoncer, "Annoceur ?: ") }}
                {{ form_widget(form.annoncer, {'attr' : {'class': ''}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.age, "Age: ") }}
                {{ form_widget(form.age, {'attr' : {'class': 'form-control'}}) }}
            </div>
            Genre :
            <div class="form-group">
                <label>
                    <input type="checkbox" id="cbox1" value="checkbox1">
                    M
                </label>

                <input type="checkbox" id="cbox2" value="checkbox1">
                <label for="cbox2">
                    F
                </label>
            </div>
            <div class="form-group">
                {{ form_label(form.departement, "Département: ") }}
                {{ form_widget(form.departement, {'attr' : {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.statusPro, "Situation professionnelle: ") }}
                {{ form_widget(form.statusPro, {'attr' : {'class': 'form-control', 'placeholder':'Etudiant'}}) }}
            </div>

            Centres d'intérêts :
            <div class="form-group">
                <label>
                    <input type="checkbox" id="cbox1" value="checkbox1">
                    Hobby 1
                </label>

                <input type="checkbox" id="cbox2" value="checkbox1">
                <label for="cbox2">
                    Hobby 2
                </label>
            </div>
        {% endif %}

        <div class="form-group">
            {{ form_label(form.imageUser, "Image: ") }}
            {{ form_widget(form.imageUser, {'attr' : {'class': 'form-control'}}) }}
        </div>

        <div class="d-none">{{ form_rest(form) }}</div>

        <div class="text-center">
            <input class="btn btn-succes" type="submit" value="Valider"/>
        </div>
        {{ form_end(form) }}

    </div>
</div>

