{% extends 'base.html.twig' %}
{% block body %}
    <div id="sondage_form">
        {{ form_start(form) }}
        <div class="row justify-content-space-between">
            <div class="col-12" v-bind:class="{!part_1: isFuckingGone }">
                <h1>Création de sondage -
                    <small>Cible</small>
                </h1>
                <hr>
                <div class="row form-group">
                    <div class="col-12">
                        <label> {{ form_label(form.title) }}</label>
                        {{ form_widget(form.title, {'attr': {'v-model' : 'title', 'maxlength':'50', 'value': null}}) }}
                    </div>
                    <div class="col-6">
                        <label> {{ form_label(form.nbQuestions) }}</label>
                        <div class="input-group">
                            <span class="input-group-addon">?</span>
                            {{ form_widget(form.nbQuestions) }}
                        </div>
                    </div>
                    <div class="col-6">
                        <label> {{ form_label(form.maxBudget) }}</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            {{ form_widget(form.maxBudget, {'attr': {'v-model' : 'maxBudget', 'value': null}}) }}
                        </div>
                    </div>
                    <div class="col-12">
                        <h2>Cible</h2>
                    </div>
                    <div class="col-6">
                        <label> {{ form_label(form.minAge) }}</label>
                        {{ form_widget(form.minAge, {'attr': {'v-model' : 'minAge', 'value': null}}) }}
                    </div>
                    <div class="col-6">
                        <label> {{ form_label(form.maxAge) }}</label>
                        {{ form_widget(form.maxAge, {'attr': {'v-model' : 'maxAge', 'value': null}}) }}
                    </div>
                    <div class="col-12 col-sm-4">
                        <h3>Départements</h3>
                        <ul v-if="departementsSelected.length > 0">
                            <li v-for="departement in departementsSelected">${departement}</li>
                        </ul>
                        <a class="btn btn-success" data-toggle="modal" data-target="#depModal">Selectionner
                        </a>
                    </div>
                    <div class="col-12 col-sm-4">
                        <h3>Situation</h3>
                        <ul v-if="situations.length > 0">
                            <li v-for="situation in situationsSelected">${situation}</li>
                        </ul>
                        <a class="btn btn-success" data-toggle="modal" data-target="#situationModal">
                            Selectionner
                        </a>
                    </div>
                    <div class="col-12 col-sm-4">
                        <h3>Centre d'intérêt</h3>
                        <ul v-if="hobbiesSelected.length > 0">
                            <li v-for="hobby in hobbiesSelected">${hobby}</li>
                        </ul>
                        <a class="btn btn-success" data-toggle="modal" data-target="#hobbyModal">
                            Selectionner
                        </a>
                    </div>
                    <div class="d-none">
                        {{ form_rest(form) }}
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <a class="btn btn-success" @Click="part_1 = false">Confirmer et Créer les questions</a>
                    </div>
                </div>
            </div>
            <div class="col-12" v-show="part_1: isFuckingGone">
                <h1>Création de sondage -
                    <small>Questions</small>
                </h1>
                <hr>
                <div class="row form-group" v-for="(question, index) in questions">
                    <div class="col-12">
                        <label>Question ${index+1}</label>
                        <input class="form-control" :id="'q-'+index+'-intitule'" type="text">
                        <hr style="width:50%">
                        {#BINARY#}
                        <div class="input-group" v-if="question.type === 'binary'">
                            <label for="">
                                Oui
                                <input type="checkbox" id="'q-'+id+'-response-1'">
                            </label>
                            <label for="">
                                Non
                                <input type="checkbox" id="'q-'+id+'-response-2'">
                            </label>
                            <label for="">
                                Autre
                                <input type="checkbox" id="'q-'+id+'-response-3'">
                            </label>
                        </div>
                        {#SINGLE#}
                        <div class="input-group" v-if="question.type === 'single'">
                            <div class="input-group">
                                <input type="text" class="form-control" :id="'q-'+index+'-response-1'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-danger" @Click="submitForm">FUCK YEAH MUTHAFUCKA</button>

            {{ form_rest(form) }}
        </div>

        {#MODAL TIME#}

        {#Modal département#}
        <div class="modal fade" id="depModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-3" v-for="departement in departements">
                                <label for="">
                                    ${departement}
                                    <input type="checkbox" aria-label="..." @Click="addStuff('dep', departement)">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Sauvegarder</button>
                    </div>
                </div>
            </div>
        </div>

        {#Modal situation pro#}
        <div class="modal fade" id="situationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-4" v-for="situation in situations">
                                <label for="">
                                    ${situation}
                                    <input type="checkbox" aria-label="..." @Click="addStuff('situation', situation)">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Sauvegarder</button>
                    </div>
                </div>
            </div>
        </div>

        {#Modal hobbies#}
        <div class="modal fade" id="hobbyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-4" v-for="hobby in hobbies">
                                <label for="">
                                    ${hobby}
                                    <input type="checkbox" aria-label="..." @Click="addStuff('hobby', hobby)">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Sauvegarder</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

    {% block javascripts %}
        {{ parent() }}

        <script>
            var form = new Vue({
                delimiters: ['${', '}'],
                el: '#sondage_form',
                data: {
                    part_1: true,
                    title: '',
                    maxBudget: '',
                    minAge: 0,
                    maxAge: 99,
                    departements: [],
                    departementsSelected: [],
                    situations: [
                        'Sans emploi',
                        'Etudiant',
                        'Retraité',
                        'Employé'
                    ],
                    situationsSelected: [],
                    hobbies: [
                        'Lecture',
                        'Jeux-vidéos',
                        'Activité maritime',
                        'Jardinage',
                        'Shopping',
                        'Cuisine'
                    ],
                    hobbiesSelected: [],
                    nbQuestions: 0,
                    questions: []
                },
                watch: {
                    part_1: function (nextValue) {
                        if (nextValue === false) {
                            for (var i = 0; i < this.nbQuestions; i++) {
                                this.questions.push({
                                    type: 'binary',
                                    intitule: ''
                                })
                            }
                        }
                    }
                },
                methods: {
                    addStuff: function (type, data) {

                        function filterArray(arr, itemToFilter) {
                            return arr.filter(function (value) {
                                return value !== itemToFilter;
                            })
                        }

                        switch (type) {
                            case 'dep':
                                if (this.departementsSelected.includes(data)) this.departementsSelected = filterArray(this.departementsSelected, data);
                                else this.departementsSelected.push(data);
                                break;
                            case 'hobby':
                                console.log(this.hobbiesSelected[data]);
                                if (this.hobbiesSelected.includes(data)) this.hobbiesSelected = filterArray(this.hobbiesSelected, data);
                                else this.hobbiesSelected.push(data);
                                break;
                            case 'situation':
                                if (this.situationsSelected.includes(data)) this.situationsSelected = filterArray(this.situationsSelected, data);
                                else this.situationsSelected.push(data);
                                break;
                        }

                    },
                    submitForm: function () {
                        console.log('LAUCNHED');
                        $('#sondage_form').submit();
                    },
                    addQuestion: function () {
                        if (this.nbQuestionsAdded - this.nbQuestions > 0) {

                        }
                    }
                },
                mounted: function () {
                    this.nbQuestions = Number($('#sondage_create_nbQuestions')[0].options[0].innerText);
                    $('#sondage_create_nbQuestions').on('change', function (event) {
                        form.$data.nbQuestions = event.target.options[event.target.value].innerText;
                    })
                }
            });

            const nbDep = 95;
            for (var i = 0; i < nbDep; i++) {
                console.log(i);
                form.$data.departements.push(String(i))
            }
        </script>
    {% endblock %}